@media screen and (max-width: 720px) {
    .qts-form label{
        font-size: 3vw;
    }
    p{
        font-size: 4vw;
    }
    header{
        display: inline-block;
    }
    h1{
        margin: 4%;
        align-items: flex-end;
        top: 3%;
        right: 75%;
        font-size: 2vw; 
    }
    h2{
        font-size: 2vw; 
        display: inline-block;
        position: absolute;
        float: left;
    }
    .controls{
        width: 100%;
    }
    .controls button{
        width: 50%;
        height: 30px;
        font-size: 12px;
    }
    .qts-form label{
        width: 100%;
        height: 80px;
        font-size: 4vw;
    }
}