@media screen and (max-width: 850px) {
    .qts-form label{
        font-size: 3vw;
    }
    p{
        font-size: 6vw;
    }
    header{
        display: flex;
        flex-direction: row;
        margin: 3%;
    }
    h1{
        display: block;
        font-size: 6vw; 
    }
    h2{
        font-size: 5vw; 
        display: block;
        position: absolute;
        top: 7%;
        left: 43%;
    }
    .currScore{
        font-size: 5vw; 
        padding: 0%;
    }
    .qts-box{
        margin-top: 15%;
    }
    .controls{
        width: 100%;
    }
    .controls button{
        width: 30vw;
        height: 12vw;
        font-size: 1.5em;
    }
    .qts-form label{
        width: 100%;
        height: 60px;
        font-size: 6vw;
    }
}