body{
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.neutral{
background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.ranswer{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.ranswerborder{
    border: 2px solid green;
}
.wronganswer{
background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.hideBttn{
    display: none;
}

.box{
    width: 60%;
    padding: 1px;
    margin: 0 20%;
    display: inline-block;
}
p{
    font-size: 24px;
    color: white;
}
h1{
    text-align: center;
    margin:10% auto;
    color: white;
}
.question{
    text-align: center;
}

.answers{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.answers button{
    display: inline-block;
    margin: 2% 2%;
    height: 60px;
    width: 45%;
    text-align: center;
    outline: none;
    font-size: 18px;
}

.answers button:focus{
    border: 2px solid #2980b9;
}
.controls{
    display: block;
    margin: 5% auto;
    text-align: center;
}
.controls button{
    width: 20%;
    height: 40px;
    outline: none;
    
}
.controls button:focus{
    border: 2px solid #2980b9;
}