*{
    width: auto;
    height: auto;
}
body{
    width: auto;
    height: auto;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.hideBttn{
    display: none;
}

p{
    font-size: 3vw;
    color: white;
    display: flex;
    margin: auto;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    display: block;
    text-align: center;
    margin: 7% auto;
    color: white;
    font-size: 4vw;
}
h2{
    display: block;
    position: absolute;
    top: 3%;
    left: 75%;
    font-size: 2vw;
    color: white;
}
.currScore{
    color: rgb(2, 82, 173);
    font-weight: bold;
    font-size: 2vw;
    padding: 3%;
}

